# Hide files starting with '.'
# Except ignore files and files starting with '.show' and '.npmadd'
.*
!.*ignore
!.show*
!.npmadd*

# Hide node_modules
node_modules

# Images, they are innecessary
logos

# Other
test
probes
package-lock.json